:root{
    --blue:rgb(68, 0, 131);
    --blue_fonce:rgb(45, 0, 87);
}

*{
    margin:0;
    padding: 0;
}
html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: rgba(255, 192, 203, 0);
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
}

body{
    width: 100%;
    overflow-x: hidden;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    background: var(--blue_fonce);
    padding-bottom: 4rem;
    overflow-y: hidden;
}

.header{
    width: 100%;
    min-height: auto;
    background: var(--blue);
    position: relative;
  padding: 1rem 0;
}

.header form{
   float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

.header form input{
    width: 19rem;
    height: 4vh;
    border: solid 5px var(--blue_fonce);
    background: none;
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    font-size: 1.3rem;
}
.header form input::placeholder{
    color: rgb(0, 110, 255);
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 2rem;
    background: var(--blue_fonce);
    padding:2rem;
}

.container .cart{
    position: relative;
    min-height: auto;
    overflow: hidden;
}

.container .cart .image{
    width: 100%;
    height: 500px;
}

.container .cart .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .3s;
}

.container .content{
    width: 100%;
    background: var(--blue);
    height: 14vh;
    color: white;
    font-size: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content .title,.container .content .vote{
    margin: 1rem;
 
}

.container .content .title{
    font-size: 1.5rem;
}

.content .vote span{
    background: var(--blue_fonce);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
}

.container .cart .overflow{
    background: rgba(255, 255, 255, 0.543);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: -170%;
    min-height: auto;
    padding: 2rem 3rem;
    transition: linear .2s;
}

.container .cart .overflow h2{
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.container .cart:hover .overflow{
    bottom: 0;
}
.container .cart:hover .image{
  overflow: hidden;
}

.container .cart:hover .image img{
    transform: scale(1.3);
}
.container .cart .overflow p{
    font-size: 1.3rem;
}


.loading{
    width: 100px;
    height: 100px;
    border-top: solid .2rem rgb(255, 255, 255);
    border-radius: 50%;
    animation: load 1s linear infinite;
    position: relative;
    left: 50%;
    z-index: 9999999999999999999999999999999999999999999;
}

.chargement{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.578);
    backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    opacity: 1;
    transition: 1s linear ;
   
}





@keyframes load {
    0%{
        rotate: 0deg
    }

    100%{
        rotate: 360deg
    }
}