:root{
    --blue:rgb(68, 0, 131);
    --blue_fonce:rgb(45, 0, 87);
}

*{
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
}

.header{
    width: 100%;
    height: 10vh;
    background: var(--blue);
    position: relative;
}

.header form{
   float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

.header form input{
    width: 19rem;
    height: 4vh;
    border: solid 5px var(--blue_fonce);
    background: none;
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    font-size: 1.3rem;
}
.header form input::placeholder{
    color: rgb(0, 110, 255);
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 2rem;
    background: var(--blue_fonce);
    padding:2rem;
    min-height: 100vh;
}

.container .cart{
    position: relative;
    overflow: hidden;
    height: 67vh;
}

.container .cart .image{
    width: 100%;
    height: 500px;
    background: url(No_image_available.svg.png) no-repeat;
}

.container .cart .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: linear .3s;
}

.container .content{
    width: 100%;
    background: var(--blue);
    height: 14vh;
    color: white;
    font-size: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content .title,.container .content .vote{
    margin: 1rem;
 
}

.container .content .title{
    font-size: 1.5rem;
}

.content .vote span{
    background: var(--blue_fonce);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
}

.container .cart .overflow{
    background: white;
    position: absolute;
    bottom: -100%;
    min-height: auto;
    padding: 2rem 3rem;
    transition: linear .2s;
}

.container .cart .overflow h2{
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.container .cart:hover .overflow{
    bottom: 0;
}

.container .cart:hover .image img{
    transform: scale(1.3);
}
.container .cart .overflow p{
    font-size: 1.3rem;
}