*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
    min-height: 30vh;
    border: solid 7px rgb(163, 179, 178);
    background: rgb(163, 179, 178);
}

.box{
    background: white;
    border-radius: 30px 30px 0 0;
}
.container .questionnaire{
text-align: center;
font-size: 4rem;
margin-bottom: 5rem;
}

.container form{
    padding-left: 4rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 5rem;
}

.btn button{
    width: 100%;
    padding: 3rem 0;
    border: none;
    background: rgb(151, 0, 174);
    font-size: 3rem;
    color: white;
    border-radius: 0 0 30px 30px;
    /* display: none; */
}