*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    resize: none;
    outline: none;
}

body{
    background: rgb(0, 195, 255);
    padding: 1rem;
}
.Add_new{
    width: 150px;
    padding: .5rem 0;
    float: right;
    background: rgb(0, 255, 0);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.container{
    width: 100%;
    min-height: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: rgb(145, 145, 145);
}

.container .box{
    width: 500px;
    min-height: auto;
}

.container .box .header{
    width: 100%;
    height: 50px;
    min-height: auto;
    background: rgb(0, 255, 0);

}

.container .box .header button{
    background: none;
    float: right;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin: 0 .5rem;
    color: white;
}

.container .box textarea{
    width: 100%;
    height: 500px;
 
}
